@use "../../presets" as *;
@use "../../mixins" as *;

.integrate {
  display: flex;
  text-align: center;
}

.integrate-content {
  padding: 165px 0;


  &__title {
    margin: 0;

    @include xl-min {
      font-size: 65px;
      line-height: 75px;
      padding: 0 250px;
    }

    @include xl-lg {
      font-size: 50px;
      line-height: 60px;
      padding: 0 180px;
    }

    @include lg-md {
      font-size: 40px;
      line-height: 40px;
      padding: 0 80px;
      ;
    }

    @include md {
      font-size: 40px;
      padding: $gap;
    }
  }

  &__description {
    font-size: 25px;
    line-height: 30px;

    @include xl-min {
      padding: 0 350px;
    }

    @include xl-lg {
      padding: 0 250px;
    }

    @include lg-md {
      padding: 0 150px;
    }

    @include md {
      font-size: 1em;
    }
  }

  &__image {

    @include lg-min {
      width: 1023px;
    }

    @include lg-md {
      width: 70%;
    }

    @include md {
      width: 50%;
    }
  }

  &__btn {
    margin-top: 30px;
  }
}